<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- CRUD + 동적 쿼리 + SQL 구문의 재사용 + ResultMap -->
<mapper namespace="UserMapper10">

	<resultMap type="user" id="userSelectMap">
		<result property="userId" column="user_id"/>
		<result property="userName" column="user_name"/>
		<result property="password" column="password"/>
		<result property="age" column="age"/>
		<result property="grade" column="grade"/>
		<result property="regDate" column="reg_date"/>
	</resultMap>
	
	<!-- sql구문의 모듈화 -->
	<sql id="select-users">
		SELECT user_id, user_name, password, age, grade, reg_date
		FROM users
	</sql>
	
	<sql id="orderby-userid-desc">
		ORDER BY user_id DESC
	</sql>
	
	<!-- DML -->
	<insert id="addUser" parameterType="user">
		INSERT INTO users(user_id, user_name, password, age, grade, reg_date)
		VALUES(#{userId}, #{userName}, #{password}, #{age}, #{grade}, #{regDate})
	</insert>
	
	<update id="updateUser" parameterType="user">
		UPDATE users 
		SET user_name = #{userName}
		WHERE user_id = #{userId}
	</update>
	
	<delete id="removeUser" parameterType="string">
		DELETE users
		WHERE user_id = #{VALUE}
	</delete>
	
	<!-- Static Query -->
	<select id="getUser" parameterType="user" resultMap="userSelectMap">
		<include refid="select-users"></include>
		WHERE password = #{password}
	</select>
	
	<!-- Dynamic Query
		- select 구문에서만 사용하는 것들 (DML 쿼리문과는 상관 X)
		- where절 조건이 달라져도 하나의 쿼리문으로 실행되는 쿼리
	-->
	
	<select id="getUserList" parameterType="user" resultMap="userSelectMap">
		<include refid="select-users"></include>
		<where>
			<if test="userName != null">
				user_name LIKE #{userName}
			</if>
			<if test="age != null">
				OR age LIKE #{age}
			</if>
		</where>
		<include refid="orderby-userid-desc"></include>
	</select>
</mapper>